<h1>Hello</h1>

<!-- <html xmlns:th="http://www.thymeleaf.org">
    <title>Product | MP </title>
    <head th:insert="components/head.html :: head">

    </head>

    <body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
        <div class="wrapper">
            <nav th:insert="components/nav.html :: nav" class="navbar"></nav>
            <aside th:insert="components/aside.html :: aside"></aside>
            
            <div class="content-wrapper">

                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark">
                                    <b>User Product</b><small></small>
                                </h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <span class="pull-right">
                                        <button class="btn btn-sm btn-success" type="button" data-toggle="modal" data-target="#addProduct"><span class="fa fa-plus-circle"></span> Add Product</button>

                                    </span>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
               
                <section class="content">
                    <div class="container-fluid">
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="member">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th class="col-md-5">Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

-->                               

<!--nameProduct
describeProduct
priceProduct-->


                                        <tr th:each="products : ${products}">
                                            <td th:id="'idProductText'+${products.idProduct}" th:text="${products.idProduct}"></td>
                                            <td th:id="'nameProductText'+${products.nameProduct}" th:text="${products.nameProduct}"></td>
                                            <!-- <td th:id="'nameProductText'+${products.amountProduct}" th:text="${products.amountProduct}"></td> -->
                                            <td>
                    
                                                <!--<button type="button" class="edit_record btn btn-info btn-xs" th:onclick="|editProduct('${products.idProduct}', '${products.nameProduct}', '${products.activeProduct}')|"><span class="fas fa-edit"></span> Edit</button>-->
                                               <!--<button type="button" class="edit_record btn btn-info btn-xs" th:onclick="${'editProduct('+products.idProduct+', '+products.nameProduct+', '${'+products.activeProduct+')'}"><span class="fas fa-edit"></span> Edit</button>-->
                                                <button type="button" class="edit_record btn btn-info btn-xs" th:onclick="|editProduct('${products.idProduct}')|"><span class="fas fa-edit"></span> Edit</button>
                                        
                                               
                                                <button type="button" class="remove_record btn btn-danger btn-xs" th:onclick="|removeProduct('${products.idProduct}')|"><span class="fas fa-trash"></span> Remove</button>
                                            </td>

                                        </tr>
                                    </tbody>


                                </table>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
            
            <form th:insert="products/v_add.html :: form" id="add-row-form" th:action="@{/products/add}" th:object="${addProduct}" method="POST"></form>
            <form th:insert="products/v_edit.html :: form" id="edit-row-form" th:action="@{/products/edit}" th:object="${editProduct}" method="POST"></form>
            <!--<form th:insert="products/v_remove.html :: form" id="add-row-form" th:action="@{/products/remove}" th:object="${removeProduct}" method="POST"></form>-->
            <footer th:insert="components/footer.html :: footer"></footer>
        </div>

        <div th:insert="components/foot.html :: foot"></div>
        <script src="js/helper/role.js"></script>
    </body>
</html>
 -->