<html xmlns:th="http://www.thymeleaf.org">
    <title>Product Category | MP </title>
    <head th:insert="components/head.html :: head">

    </head>

    <body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
        <div class="wrapper">
            
            <nav th:insert="components/nav.html :: nav" class="navbar"></nav>
            <aside th:insert="components/aside.html :: aside"></aside>
            <div th:insert="components/notification/v_notification.html :: notif"></div>
            
            <div class="content-wrapper">

                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark">
                                    <b>Product Category </b><small></small>
                                </h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <span class="pull-right" id="add_tables">
                                        <a href="javascript:void(0);" class="add_record btn btn-success btn-xs" 
                                        data-category_name=""
                                        ><span class="fa fa-plus-circle"></span> Add Product Category</a>

                                    </span>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
               
                <section class="content">
                    <div class="container-fluid">
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="tables">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        

                                        <tr th:each="category : ${category}">
                                            <td th:text="${category.idProductCategory}"></td>
                                            <td th:text="${category.nameProductCategory}"></td>
                                            <td>
                                                 <a href="javascript:void(0);" class="edit_record btn btn-info btn-xs" 
                                                    th:data-category_id="${category.idProductCategory}"
                                                    th:data-category_name="${category.nameProductCategory}"
                                                    ><span class="fas fa-edit"></span> Edit</a>
                                            
                                                 <a href="javascript:void(0);" class="remove_record btn btn-danger btn-xs" 
                                                    th:data-category_id="${category.idProductCategory}" 
                                                    th:data-category_name="${category.nameProductCategory}" 
                                                    ><span class="fas fa-trash"></span> Remove</a>
                                            </td>

                                        </tr>
                                    </tbody>


                                </table>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
            
        </div>


        <div th:insert="components/crud/v_modal.html :: form"></div>
        <div th:insert="components/foot.html :: foot"></div>
        <div th:insert="components/crud/v_foot.html :: foot"></div>
        
    </body>
</html>
