<html xmlns:th="http://www.thymeleaf.org">
    <title>Product | MP </title>
    <head th:insert="components/head.html :: head">

    </head>

    <body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
        <div class="wrapper">
            
            <nav th:insert="components/nav.html :: nav" class="navbar"></nav>
            <aside th:insert="components/aside.html :: aside"></aside>
            <div th:insert="components/notification/v_notification.html :: notif"></div>
            
            <div class="content-wrapper">

                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark">
                                    <b>User Product</b><small></small>
                                </h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <span class="pull-right" id="add_tables">
                                        <a href="javascript:void(0);" class="add_record btn btn-success btn-xs"
                                        data-product_describe=""
                                        data-product_amount=""
                                        data-product_price=""                                        
                                        data-product_category_id_select=""
                                        data-product_name=""
                                        ><span class="fa fa-plus-circle"></span> Add Product</a>

                                    </span>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
               
                <section class="content">
                    <div class="container-fluid">
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="tables">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        

                                        <tr th:each="product : ${product}">
                                            <td th:text="${product.idProduct}"></td>
                                            <td th:text="${product.nameProduct}"></td>
                                            <td th:text="${product.idProductCategory.nameProductCategory}"></td>
                                            <td th:text="${product.amountProduct}"></td>
                                            <td th:text="${product.priceProduct}"></td>
                                            <td>

                                                 <a href="javascript:void(0);" class="edit_record btn btn-info btn-xs" 
                                                    th:data-product_id="${product.idProduct}"
                                                    th:data-product_amount="${product.amountProduct}"
                                                    th:data-product_price="${product.priceProduct}"
                                                    th:data-product_category_id_select="${product.idProductCategory.idProductCategory}"
                                                    th:data-product_name="${product.nameProduct}"
                                                    ><span class="fas fa-edit"></span> Edit</a>
                                        

                                                    <!-- th:data-product_active="${product.activeProduct}" -->                                               
                                                 <a href="javascript:void(0);" class="remove_record btn btn-danger btn-xs" 
                                                    th:data-product_id="${product.idProduct}" 
                                                    th:data-product_name="${product.nameProduct}" 
                                                    ><span class="fas fa-trash"></span> Remove</a>
                                            </td>

                                        </tr>
                                    </tbody>


                                </table>
                                <textarea th:text="${holiday}"></textarea>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
            <!-- <textarea class="object" th:text=> -->
                
            <!-- </textarea> -->

        <select id="selectHoliday" class="form-control">
            
        </select>
            <input type="" name="" th:value="${option}">

            

            <!-- <form th:insert="product/v_add.html :: form" id="add-row-form" th:action="@{/product/add}" th:object="${addProduct}" method="POST"></form> -->
            <!-- <form th:insert="product/v_edit.html :: form" id="edit-row-form" th:action="@{/product/edit}" th:object="${editProduct}" method="POST"></form> -->
            <!--<form th:insert="product/v_remove.html :: form" id="add-row-form" th:action="@{/product/remove}" th:object="${removeProduct}" method="POST"></form>-->
            <!-- <footer th:insert="components/footer.html :: footer"></footer> -->
        </div>
        


        <script type="text/javascript">
            console.log("hello");
            getHoliday();

            function getHoliday(){
                var accessUrl = 'http://localhost:8082/holiday';
                $.ajax({
                    url: accessUrl,
                    type: 'GET',
                    dataType : "JSON",
                        success: function(data){

                            console.log(data);
                            console.log(data.data);

                            // var holidayResult = "<option>-</option>";
                            var option = "<option>-</option>";
                            var optionNew = "";

                            for (var i = 0; data.data.length > i; i++) {
                                console.log(i);
                                var id = data.data[i].id;
                                console.log(data.data[i].date);



                                
                                optionNew = '<option value="'+id+'">'+String(data.data[i].date)+'</option>';
                                option= option+optionNew;
                                console.log(option);

                            }
                               console.log(option);                             

                            $('#selectHoliday').html(option);





                        //     if (data == 'false') {
                        //         alert('data not found!!!');
                        //     }else{
                        //         var consultation = data['consultation'];
                        //         console.log(consultation);
                        //         var html = generateRow(consultation);



                        //         $('#consultation').html(html);                      
                        //     }
                        }
                });
            }

        </script>


        <div th:insert="components/crud/v_modal.html :: form"></div>
        <div th:insert="components/foot.html :: foot"></div>
        <div th:insert="components/crud/v_foot.html :: foot"></div>
        <!-- <script src="js/helper/role.js"></script> -->
        <div th:insert="components/crud/v_jumper_option.html :: jump"></div>
        
    </body>
</html>
