<form th:fragment="form">
    <div class="modal fade" id="removeProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title" id="myModalLabel"><span class="fa fa-trash"></span> Remove Product</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="idProductRemove" class="form-control hidden"required>
                    </div>
                    <strong>Are you sure to remove Product <u><span class="nameProductRemove"></span></u> ?</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="add-row" name="Update" class="btn btn-success">Remove</button>
                </div>
            </div>
        </div>
    </div>
</form>