<div th:fragment="foot">

<link rel="stylesheet" th:href="@{/vendor/skylightsp-crud-modal/css/style.css}" type="text/css">

<script type="text/javascript" th:src="@{/vendor/skylightsp-crud-modal/js/helper/segment.js}"></script>
<script type="text/javascript" th:src="@{/vendor/skylightsp-crud-modal/js/system/config.js}"></script>

<script type="text/javascript" th:src="@{/vendor/skylightsp-crud-modal/js/helper/parse_text.js}"></script>
<script type="text/javascript" th:src="@{/vendor/skylightsp-crud-modal/js/helper/typedata_check.js}"></script>
<script type="text/javascript" th:src="@{/vendor/skylightsp-crud-modal/js/helper/collect_check.js}"></script>
<script type="text/javascript" th:src="@{/vendor/skylightsp-crud-modal/js/components/input.js}"></script>
<script type="text/javascript" th:src="@{/vendor/skylightsp-crud-modal/js/components/icon.js}"></script>
<script type="text/javascript" th:src="@{/vendor/skylightsp-crud-modal/js/components/message.js}"></script>
<script type="text/javascript" th:src="@{/vendor/skylightsp-crud-modal/js/style/input.js}"></script>


<script th:if="${option != null}" type="text/javascript" th:src="@{/vendor/skylightsp-crud-modal/js/system/storage.js}"></script>

<script type="text/javascript" th:src="@{/vendor/skylightsp-crud-modal/js/system/read_update.js}"></script>
</div>