<div th:fragment="form">
	<!-- <input type="" name="" th:value="${control.add}"> -->
	<!-- <input type="" name="" th:value="${control.edit}"> -->
	<!-- <div th:if="${control.add} == true"> -->
		<form id="add-row-form" action="" method="post">
			<div class="add-id modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content-body-add modal-content" id="add-crud-content">
						<div class="modal-header">
							<h4 class="modal-title" id="add-row-title"></h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>
						<div class="modal-body" id="form_add">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-md btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-md btn-success" onclick="controlAlertReadUpdate('add')">Submit</button>
						</div>
					</div>
					<div class="modal-notification-body-add modal-content" id="add-crud-notification">
						<div class="modal-header">
							<h4 class="modal-title" id="add-row-title-notification"></h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>
						<div class="modal-body" id="notification_add">
							<p>
								<center>
									<span id="modal-notification-message-add"></span>
								</center>
							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-md btn-default" onclick="unloadAlertReadUpdate('add')">No</button>
							<button type="submit" id="add-row" name="Add" class="btn btn-md btn-success">Yes</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	<!-- </div> -->

 	<!-- <div th:if="${control.edit} == true"> -->
		<form id="edit-row-form" action="" method="post">
			<div class="edit-id modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content-body-edit modal-content" id="edit-crud-content">
						<div class="modal-header">

							<h4 class="modal-title" id="edit-row-title"></h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>
						<div class="modal-body">
							<div class="form-group" id="form_edit">

							</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-md btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-md btn-success" onclick="controlAlertReadUpdate('edit')">Submit</button>
						</div>
					</div>
					<div class="modal-notification-body-edit modal-content" id="edit-crud-notification">
						<div class="modal-header">
							<h4 class="modal-title" id="edit-row-title-notification"></h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>
						<div class="modal-body" id="notification_edit">
							<p>
								<center>
									<span id="modal-notification-message-edit"></span>
								</center>
							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-md btn-default" onclick="unloadAlertReadUpdate('edit')">No</button>
							<button type="submit" id="add-row" name="Add" class="btn btn-md btn-success">Yes</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	<!-- </div> -->

	<!-- <div th:if="${control.replace} == true"> -->
		<form id="replace-row-form" action="" method="post">
			<div class="replace-id modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content-body-replace modal-content" id="replace-crud-content">
						<div class="modal-header">

							<h4 class="modal-title" id="replace-row-title"></h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>
						<div class="modal-body">
							<div class="form-group" id="form_replace">

							</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-md btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-md btn-success" onclick="controlAlertReadUpdate('replace')">Submit</button>
						</div>
					</div>
					<div class="modal-notification-body-replace modal-content" id="replace-crud-notification">
						<div class="modal-header">
							<h4 class="modal-title" id="replace-row-title-notification"></h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>
						<div class="modal-body" id="notification_replace">
							<p>
								<center>
									<span id="modal-notification-message-replace"></span>
								</center>
							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-md btn-default" onclick="unloadAlertReadUpdate('replace')">No</button>
							<button type="submit" id="add-row" name="Replace" class="btn btn-md btn-success">Yes</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	<!-- </div> -->

	<!-- <div th:if="${control.remove} == true"> -->
		<form id="remove-row-form" action="" method="post">
			<div class="remove-id modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">

							<h4 class="modal-title" id="remove-row-title"></h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>
						<div class="modal-body">
							<div class="form-group" id="form_remove">

							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-md btn-default" data-dismiss="modal">Close</button>
							<button type="submit" id="add-row" name="Remove" class="btn btn-md btn-danger">Remove</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	<!-- </div> -->


		<form id="delete-row-form" action="" method="post">
			<div class="delete-id modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">

							<h4 class="modal-title" id="delete-row-title"></h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>
						<div class="modal-body">
							<div class="form-group" id="form_delete">

							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-md btn-default" data-dismiss="modal">Close</button>
							<button type="submit" id="add-row" name="Delete" class="btn btn-md btn-danger">Delete</button>
						</div>
					</div>
				</div>
			</div>
		</form>

</div>